*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif; }

.container {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.theme-heading, .theme-heading-dark {
  text-decoration: none;
  color: #ffab00;
  font-size: 2.4rem;
  letter-spacing: 1px;
  position: relative; }
  .theme-heading:after, .theme-heading-dark:after {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: #f5f5f5;
    top: 35px;
    left: 20px; }

.theme-heading-dark {
  color: #263238; }

.heading_1 {
  font-size: 3.6rem;
  color: #f5f5f5; }

.content_1 {
  font-size: 1.4rem;
  color: #f5f5f5; }

.navbar {
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns: minmax(min-content, 1fr) 1fr;
  align-items: center;
  justify-items: start;
  border-bottom: 1px solid orangered;
  border-right: 1px solid orangered;
  border-left: 1px solid orangered;
  padding: 10px; }

.brand-box {
  grid-column: 1 / 2;
  display: flex;
  margin: auto 15px; }
  .brand-box .logo {
    height: 5rem;
    width: 5rem; }
  .brand-box .brand-name {
    font-family: "Roboto", sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    line-height: 1;
    align-self: center;
    margin: auto 25px;
    color: #f5f5f5; }

.social-box {
  display: flex;
  grid-column: 2 / 3;
  justify-self: end;
  transform: translateX(-55px); }
  .social-box .social-icons {
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    fill: #f5f5f5; }
  .social-box .menu-name {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    margin: auto 15px;
    transform: translateX(25px);
    color: #f5f5f5; }

.header {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-template-rows: minmax(90vh, 1fr);
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-70px);
  z-index: -1; }
  .header > * {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display: grid;
    justify-items: center;
    align-content: center; }
  .header .link {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.4rem;
    letter-spacing: 1px;
    display: grid; }
    .header .link:after {
      content: '';
      height: 3px;
      width: 28%;
      position: absolute;
      background-color: #ffab00; }
  .header .left {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../img/header-1.png"); }
    .header .left > * {
      width: 60%;
      margin: 10px; }
    .header .left .link--left {
      justify-content: start;
      position: relative; }
      .header .left .link--left:after {
        top: 25px;
        left: 10px; }
  .header .right {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../img/header-2.png"); }
    .header .right > * {
      width: 60%;
      margin: 10px;
      text-align: right;
      justify-content: end; }
    .header .right .link--right {
      position: relative; }
      .header .right .link--right:after {
        right: 8px;
        top: 25px; }

.skillset {
  display: grid;
  grid-column: full-start / full-end;
  grid-template-columns: 1fr [mid-start] 5fr [mid-end] 1fr;
  background-color: #ffd740;
  padding: 7rem 0;
  transform: translateY(-80px); }
  .skillset-wrapper {
    display: grid;
    grid-column: mid-start / mid-end;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: minmax(30vh, 1fr);
    grid-column-gap: 35px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-row-gap: 25px; }
    .skillset-wrapper > * {
      display: grid;
      grid-row-gap: 25px; }
  .skillset-info {
    justify-items: center; }
    .skillset-info--heading {
      font-size: 3.1rem;
      color: #263238;
      font-weight: 500; }
    .skillset-info--image {
      width: 70%; }
    .skillset-info--content {
      font-size: 1.5rem;
      color: #263238;
      font-weight: 300;
      padding: 0 35px;
      text-align: justify; }
  .skillset-details {
    justify-items: center; }
    .skillset-details--Main-heading {
      font-size: 3.1rem;
      color: #263238;
      font-weight: 500; }
  .skillset-detail {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1rem; }
    .skillset-detail--heading {
      font-size: 2rem;
      color: #263238;
      font-weight: 500; }
    .skillset-detail--content {
      font-size: 1.5rem;
      color: #263238;
      font-weight: 300; }
    .skillset-detail--icons {
      grid-row: 1 / span 2;
      fill: #263238;
      height: 3.5rem;
      width: 3.5rem; }

.timeline {
  display: grid;
  grid-column: full-start / full-end;
  grid-template-columns: 1fr [mid-start] 5fr [mid-end] 1fr;
  padding: 10rem 0;
  background-color: #263238;
  transform: translateY(-80px); }
  .timeline-w {
    display: grid;
    grid-column: mid-start / mid-end;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    grid-row-gap: 40px;
    grid-column-gap: 35px; }
    .timeline-w-duration {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 20px;
      justify-items: center; }
      .timeline-w-duration--year {
        font-size: 5rem;
        color: #ffab00;
        font-weight: 700; }
      .timeline-w-duration--yearslist {
        text-decoration: none;
        list-style: none;
        color: #f5f5f5;
        font-size: 1.6rem;
        align-self: end;
        display: flex; }
        .timeline-w-duration--yearslist > * {
          padding: 0 5px;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .timeline-w-duration--yearslist > * span {
            justify-content: center;
            font-weight: 700; }
          .timeline-w-duration--yearslist > * .active {
            color: #ffab00; }
    .timeline-w-content {
      display: grid;
      grid-template-rows: repeat(6, min-content);
      justify-items: start; }
      .timeline-w-content--icon {
        fill: #f5f5f5;
        height: 3.5rem;
        width: 3.5rem; }
      .timeline-w-content--head-1 {
        font-size: 3rem;
        color: #f5f5f5; }
      .timeline-w-content--head-2 {
        font-size: 1.5rem;
        color: #ffab00;
        margin-top: 15px; }
        .timeline-w-content--head-2 span {
          font-size: 1rem; }
      .timeline-w-content--designation {
        font-size: 1.1rem;
        color: #f5f5f5; }
      .timeline-w-content--description {
        width: 80%;
        font-size: 1.2rem;
        letter-spacing: 1px;
        color: #f5f5f5;
        text-align: justify;
        margin-top: 10px; }
      .timeline-w-content--download {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 1px;
        color: #ffab00;
        text-decoration: none;
        margin-top: 30px; }

.socialsection {
  display: grid;
  grid-column: full-start / full-end;
  background-color: #f5f5f5;
  grid-template-columns: 1fr [mid-start] 5fr [mid-end] 1fr;
  padding: 10rem 0;
  transform: translateY(-70px);
  grid-row-gap: 5rem; }
  .socialsection-w {
    display: grid;
    grid-column: mid-start / mid-end;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 40px; }
    .socialsection-w > * {
      display: grid;
      grid-template-rows: repeat(5, max-content);
      grid-row-gap: 10px; }
  .socialsection .social-icons {
    height: 3rem;
    width: 3rem;
    fill: #263238; }
  .socialsection .social-heading {
    font-size: 1.5rem;
    color: #263238; }
  .socialsection .social-timestamp {
    font-size: 1.2rem;
    color: #263238; }
  .socialsection .social-description {
    font-size: 1.5rem;
    color: #263238;
    font-weight: 300; }
  .socialsection .hashtag {
    color: #ffab00;
    font-size: 1.2rem; }
  .socialsection .website {
    text-decoration: none;
    color: #263238;
    font-size: 1.2rem;
    font-weight: 400; }
  .socialsection .social-details {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .socialsection .paginations {
    grid-column: 2 / 3;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    align-items: center; }
    .socialsection .paginations .pagination {
      height: 1rem;
      width: 1rem;
      background-color: #546e7a; }
    .socialsection .paginations .active {
      background-color: #ffab00; }

.travel {
  display: grid;
  grid-column: 1/-1;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 50px;
  background-color: #ffd740;
  padding: 10rem 10rem;
  transform: translateY(-70px); }
  .travel-heading {
    justify-self: start; }
  .travel-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 20px; }
    .travel-images figure {
      position: relative; }
      .travel-images figure::before {
        content: '';
        width: 0;
        height: 100%;
        background-color: rgba(38, 50, 56, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s; }
      .travel-images figure:hover::before {
        width: 100%; }
      .travel-images figure:hover .travel--caption {
        opacity: 1; }
      .travel-images figure img {
        object-fit: none;
        display: block;
        height: 100%;
        width: 100%; }
      .travel-images figure .travel--caption {
        position: absolute;
        top: 70%;
        left: 0;
        width: 100%;
        display: grid;
        grid-template-rows: min-content 1fr;
        align-items: center;
        justify-items: center;
        opacity: 0;
        transition: all .5s; }
        .travel-images figure .travel--caption > * {
          align-self: center; }
        .travel-images figure .travel--caption-heading {
          color: white;
          font-family: "Roboto", sans-serif;
          font-size: 2rem;
          border: 2px solid #ffab00;
          padding: 1rem;
          margin-bottom: 3rem; }
        .travel-images figure .travel--caption-p {
          color: #ffd740;
          font-size: 1.5rem;
          font-weight: 500; }
