.skillset{
    display: grid;
    grid-column: full-start / full-end;
    grid-template-columns: 1fr [mid-start] 5fr [mid-end] 1fr;
    background-color: $color-light-yellow;
    padding: 7rem 0;
    transform: translateY(-80px);
    &-wrapper{ 
        display: grid;
        grid-column: mid-start / mid-end;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: minmax(30vh, 1fr);
        grid-column-gap: 35px;
        justify-items: center;
        align-items: center;
        justify-content: center;
        grid-row-gap: 25px;
        & > *{
            display: grid;
            grid-row-gap: 25px;
        }

    }
    &-info{
        justify-items: center;
        &--heading{
            font-size: 3.1rem;
            color: $color-dark-grey;
            font-weight: $font-subheading;
        }
        &--image{
            width: 70%;
        }
        &--content{
            font-size: 1.5rem;
            color: $color-dark-grey;
            font-weight: $font-body;
            padding: 0 35px;
            text-align: justify;
        } 
    }
    &-details{
        justify-items: center;
        &--Main-heading{
            font-size: 3.1rem;
            color: $color-dark-grey;
            font-weight: $font-subheading;
        }
    }
    &-detail{
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 1rem;

        &--heading{
        font-size: 2rem;
        color: $color-dark-grey;
        font-weight: $font-subheading;
        }
        &--content{
            font-size: 1.5rem;
            color: $color-dark-grey;
            font-weight: $font-body;
        }
        &--icons{
            grid-row:  1 / span 2;
            fill: $color-dark-grey;
            height: 3.5rem;
            width: 3.5rem;
        }
    }
}